*{
	-webkit-tap-highlight-color: transparent;
}
body {
	background-color: whitesmoke;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}
.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: block;
}