@import 'vars';

.Login {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}
.Login-desktop{
	display: flex;
	direction: row;
}
.Login-title-desktop {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	animation: fade-in-n-left 1s;
	background-color: var(--hospital-green);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 20px;
	color: white;
	z-index: 2;
	height: 60vh;
}
.Login-container-desktop {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	animation: fade-in-n-left 1s;
	background-color: white;
	padding: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 60vh;
}
.option-container{
	display: flex;
	flex-direction: row;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.form a {
	color: var(--hospital-green);
	font-size: var(--sm);
	text-align: center;
	text-decoration: none;
	margin-bottom: 30px;
}
.label {
	font-size: var(--sm);
	font-weight: bold;
	margin-bottom: 4px;
	align-self: flex-start;
	margin-left: 10%;
}
.input {
	background-color: white;
	border: solid 1px var(--hospital-green);
	border-radius: 8px;
	height: 30px;
	font-size: var(--md);
	padding: 6px;
	margin-bottom: 12px;
	width: 80%;
}
.input::placeholder{
	color: #d3d3d3;
}
.input-email {
	margin-bottom: 22px;
}
button.primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
	width: 50%
}
.secondary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: 2px solid var(--white);
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
.secondary-button:hover{
	background-color: var(--white);
	border: 2px solid var(--hospital-green);
	color: var(--hospital-green);
	transition: 0.2s;
}
.login-button {
	margin-top: 14px;
	margin-bottom: 30px;
}
h1, h4 {
	text-align: center;
}
.option-container{
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.hr-login{
	margin:10px;
	width: 40px;
	border: 1px solid white;
	border-radius: 1px;
}
.hr-login-olvide{
	margin-bottom:30px;
	width: 80%;
	border: 1px solid var(--hospital-green);
	border-radius: 1px;
}
.olvide{
	cursor: pointer;
	background-color: white;
	color: var(--hospital-green);
	font-size: var(--lg);
}

@keyframes new-account-green-init {
	0%{
		transform:scaleX(0);
		transform: translateX(0px);
		border-top-left-radius: 20px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 20px;
		color: var(--hospital-green);
	}
	50%{
		width: 450px;
		padding-right:100px;
		padding-left: 50px;
		background-color: rgb(82, 139, 82);
		color: rgb(82, 139, 82);
	}
	100%{
		transform:scaleX(0);
		background-color: rgb(82, 139, 82);
		transform: translateX(500px);
		border-top-left-radius: 0px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 0px;
	}
}

@keyframes new-account-white-init {
	0%{
		transform: translateX(0px);
		border-top-left-radius: 0px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 0px;
		color: var(--white);
	}
	50%{
		color: var(--white);
	}
	100%{
		transform: translateX(-300px);
		border-top-left-radius: 20px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 20px;
	}
}
@keyframes new-account-green-final {
	0%{
		transform: translateX(500px);
		border-top-left-radius: 20px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 20px;
		color: var(--hospital-green);
	}
	50%{
		width: 450px;
		padding-right:100px;
		padding-left: 50px;
		background-color: var(--hospital-green);
		color: var(--hospital-green);
	}
	100%{
		transform: translateX(0px);
		border-top-left-radius: 20px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 20px;
	}
}

@keyframes new-account-white-final {
	0%{
		transform: translateX(-300px);
		border-top-left-radius: 20px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 20px;
		color: var(--white);
	}
	50%{
		color: var(--white);
	}
	100%{
		transform: translateX(-0px);
		border-top-left-radius: 0px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 0px;
	}
}
