@import 'vars';

.Menu {
	width: 100px;
	height: auto;
	border: 1px solid var(--very-light-pink);
	border-radius: 6px;
	padding: 20px 20px 0 20px;
	position: absolute;
	top: 60px;
	right: 50px;
	background-color: white;
	visibility: hidden;
	transform-origin: top;
}
.in-menu{
	visibility: visible;
	animation: down-slide-in ease 0.2s;
}
.out-menu{
	animation: down-slide-out ease 0.2s;
}
@keyframes down-slide-in {
	0% {transform: scaleY(0%);}
	
	100% {transform: scaleY(100%);}
}
@keyframes down-slide-out {
	0% {
		visibility: visible;
		transform: scaleY(100%);}
	
	100% {
		transform: scaleY(1%);
	}
}
.Menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.Menu ul li {
	text-align: end;
}
.Menu ul li:nth-child(1),
.Menu ul li:nth-child(2) {
	font-weight: bold;
}
.Menu ul li:last-child {
	padding-top: 20px;
	border-top: 1px solid var(--very-light-pink);
}
.Menu ul li:last-child a {
	color: var(--hospital-green);
	font-size: var(--sm);
}
.Menu ul li a {
	color: var(--back);
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
}