.mobile-menu {
    height: 100vh;
    margin-top: 61px;
    padding: 24px;
    position: absolute;
    background-color: white;
    width: 100%;
    visibility: hidden;
  }
  .in-mobile{
    visibility: visible;
    animation: in-left linear 0.2s;
  }
  .out-mobile{
    animation: out-left linear 0.2s;
  }
  @keyframes in-left{
    0%{
      transform: translateX(-900px);
    }
    100%{
      transform: translateX(-0px);
    }
  }
  @keyframes out-left{
    0%{
      visibility: visible;
      transform: translateX(0px);
    }
    100%{
      transform: translateX(-900px);  
    }
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }